.home-hero_text {
  padding-bottom: 4px;
  background-image: repeating-linear-gradient(
      -45deg,
      #ffb400,
      #ffb400 1px,
      transparent 0,
      transparent 12px
    ),
    repeating-linear-gradient(
      45deg,
      #ffb400,
      #ffb400 1px,
      transparent 0,
      transparent 12.2px
    );
  background-position: 0 103%, 2px 103%;
  background-size: 17px 10px;
  background-repeat: repeat-x;
  animation: 0.8s infinite normal b;
  animation-timing-function: linear;
}

@keyframes b {
  0% {
    background-position-x: 0, 2px;
  }

  to {
    background-position-x: 17px, 19px;
  }
}

/* Main container */
.container {
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #000;
  position: relative;
}

/* Dashed line animations */
.dashed-line {
  height: 2px;
  width: 100%;
  overflow: hidden;
  margin: 20px 0;
  padding: 10px;
  background-image: linear-gradient(90deg, #000 50%, transparent 0),
    linear-gradient(90deg, #000 50%, transparent 0),
    linear-gradient(180deg, #000 50%, transparent 0),
    linear-gradient(180deg, #000 50%, transparent 0);
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 30px 1px, 30px 1px, 1px 30px, 1px 30px;
  animation: border-animation 1s linear infinite;
  animation-play-state: running;
}

/* Content section */
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  height: 150px;
}

/* Individual event items */
.event {
  text-align: center;
  width: 30%;
}

.date {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

/* See All Button */
.see-all-container {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
 
}

.see-all-button {
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.see-all-button:hover {
  background-color: black;
  color: white;
  transform: scale(1.05);
}

.single-announcement {
    padding: 110px 0;
    margin-bottom: 120px;
    background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 0, transparent 68px), repeating-linear-gradient(45deg, #000, #000 1px, transparent 0, transparent 68px), repeating-linear-gradient(-45deg, #000, #000 1px, transparent 0, transparent 71px), repeating-linear-gradient(45deg, #000, #000 1px, transparent 0, transparent 70px);
    background-position: 0 101%, 0 101%, 0 0, 0 0;
    background-size: 93px 50px, 93px 50px, 100px 50px, 100px 50px;
    background-repeat: repeat-x;
    animation: 2s infinite normal e;
    animation-timing-function: linear;
   
}

@keyframes e {
  0% {
    background-position: 0 101%, 0 101%, 0 0, 0 0;
}
100% {
    background-position: 93px 101%, 93px 101%, 100px 0, 100px 0;
}
}

.single-events__item {
    padding: 40px 0 30px;
    background-image: repeating-linear-gradient(-74deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5) 1px, transparent 0, transparent 8px);
    background-position: 0 0;
    background-repeat: repeat-x;
    background-size: 100% 22px;
    display: -ms-flexbox;
    display: flex
;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.single-radio {
    padding: 50px 0 0;
    background-image: repeating-linear-gradient(-45deg, #000, #000 1px, transparent 0, transparent 71px), repeating-linear-gradient(45deg, #000, #000 1px, transparent 0, transparent 70px);
    background-position: 0 0, 0 0;
    background-size: 100px 50px, 100px 50px;
    background-repeat: repeat-x;
    animation: 2s infinite normal g;
    animation-timing-function: linear;
}
@keyframes g {
  0% {
    background-position-x: 0;
}

100% {
    background-position-x: 100px;
}
}