@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: ogg, "sanserif";
  color:black;
}

@layer base {
  @font-face {
    font-family: "ogg";
    src: url("../src/assets/fonts/Ogg-Roman.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "apercu";
    src: url("../src/assets/fonts/Apercu_Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "apercu mono";
    src: url("../src/assets/fonts/apercu-mono.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}

/* Container styling */

/* Container styling */
.map-container {
  position: relative;
  /* Adjust height */
  border-radius: 10px; /* Optional: rounded edges */
  overflow: hidden;
  padding: 10px;
  /* Space for border effect */
  display: flex;
  align-items: center; /* Center text vertically */
  justify-content: center;
  background-image: linear-gradient(90deg, #000 50%, transparent 0),
    linear-gradient(90deg, #000 50%, transparent 0),
    linear-gradient(180deg, #000 50%, transparent 0),
    linear-gradient(180deg, #000 50%, transparent 0);
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 30px 1px, 30px 1px, 1px 30px, 1px 30px;
  animation: border-animation 0.4s linear infinite;
  animation-play-state: paused; /* Animation starts paused */
}

/* Apply the animation when hover begins */
.map-container.animate-border {
  animation-play-state: running; /* Resume animation */
}

/* Image styling */
.map-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px; /* Optional: to match container */
}

.centered-text {
  font-size: 1.5rem; /* Adjust text size */
  font-weight: bold;
  color: #333; /* Adjust text color */
  text-align: center;
  z-index: 1; /* Ensure text stays above the border */
}

/* Keyframes for dashed border animation */
@keyframes border-animation {
  0% {
    background-position: 0 0, 0 100%, 0 0, 100% 0;
  }
  100% {
    background-position: 30px 0, -30px 100%, 0 30px, 100% -30px;
  }
}
